In [24]:
import pandas as pd # para manipulação e limpeza dos dados
import numpy as np  # operações matemáticas e com vetores

from datetime import datetime # módulo para uso de ferramentas de data e hora

import matplotlib.pyplot as plt # gráficos
import seaborn as sns           # gráficos e ferramentas de estatísticas
sns.set_style('whitegrid')

# configurações padrão para os gráficos


plt.rc('figure', figsize=(10,8))
plt.style.use('ggplot')

# Plotly umas das bibliotecas mais incríveis para dataviz ! Irei usá-la neste caso devido a escala dos valores do dataset (na casa de centenas
# de milhões, essa biblioteca torna a leitura desses valores muito mais clara) 

from plotly import __version__
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
import plotly.graph_objs as go
init_notebook_mode(connected=True)
import cufflinks
cufflinks.go_offline()

# Setups
pd.set_option('display.float_format', lambda x: '%.3f' % x)
sns.set(style='white', context='notebook', palette='deep')
import warnings
warnings.filterwarnings('ignore')
sns.set_style('white')
%matplotlib inline

ModuleNotFoundError: No module named 'cufflinks'

In [4]:
# Lendo os conjuntos de dados
red_wine = pd.read_csv("winequality-red.csv", sep=";")

white_wine = pd.read_csv("winequality-white.csv", sep=";")

In [5]:
red_wine.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [6]:
white_wine.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

In [12]:
# Ajustando as colunas

white_wine.columns = [col.replace(" ", "_") for col in white_wine.columns]
red_wine.columns = [col.replace(" ", "_") for col in red_wine.columns]

In [13]:
#criando as colunas de cor

color_red = np.repeat('Red', len(red_wine))
color_white = np.repeat("White", len(white_wine))

white_wine['color'] = color_white
white_wine.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,color
0,7.000,0.270,0.360,20.700,0.045,45.000,170.000,1.001,3.000,0.450,8.800,6,White
1,6.300,0.300,0.340,1.600,0.049,14.000,132.000,0.994,3.300,0.490,9.500,6,White
2,8.100,0.280,0.400,6.900,0.050,30.000,97.000,0.995,3.260,0.440,10.100,6,White
3,7.200,0.230,0.320,8.500,0.058,47.000,186.000,0.996,3.190,0.400,9.900,6,White
4,7.200,0.230,0.320,8.500,0.058,47.000,186.000,0.996,3.190,0.400,9.900,6,White

In [14]:
red_wine['color'] = color_red
red_wine.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,color
0,7.400,0.700,0.000,1.900,0.076,11.000,34.000,0.998,3.510,0.560,9.400,5,Red
1,7.800,0.880,0.000,2.600,0.098,25.000,67.000,0.997,3.200,0.680,9.800,5,Red
2,7.800,0.760,0.040,2.300,0.092,15.000,54.000,0.997,3.260,0.650,9.800,5,Red
3,11.200,0.280,0.560,1.900,0.075,17.000,60.000,0.998,3.160,0.580,9.800,6,Red
4,7.400,0.700,0.000,1.900,0.076,11.000,34.000,0.998,3.510,0.560,9.400,5,Red

In [15]:
df_wine = red_wine.append(white_wine, ignore_index=True)

df_wine.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,color
0,7.400,0.700,0.000,1.900,0.076,11.000,34.000,0.998,3.510,0.560,9.400,5,Red
1,7.800,0.880,0.000,2.600,0.098,25.000,67.000,0.997,3.200,0.680,9.800,5,Red
2,7.800,0.760,0.040,2.300,0.092,15.000,54.000,0.997,3.260,0.650,9.800,5,Red
3,11.200,0.280,0.560,1.900,0.075,17.000,60.000,0.998,3.160,0.580,9.800,6,Red
4,7.400,0.700,0.000,1.900,0.076,11.000,34.000,0.998,3.510,0.560,9.400,5,Red

In [16]:
df_wine.tail()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,color
6492,6.200,0.210,0.290,1.600,0.039,24.000,92.000,0.991,3.270,0.500,11.200,6,White
6493,6.600,0.320,0.360,8.000,0.047,57.000,168.000,0.995,3.150,0.460,9.600,5,White
6494,6.500,0.240,0.190,1.200,0.041,30.000,111.000,0.993,2.990,0.460,9.400,6,White
6495,5.500,0.290,0.300,1.100,0.022,20.000,110.000,0.989,3.340,0.380,12.800,7,White
6496,6.000,0.210,0.380,0.800,0.020,22.000,98.000,0.989,3.260,0.320,11.800,6,White

In [23]:
# Salvando o novo conjunto de dados

df_wine_complete = df_wine
df_wine_complete.to_csv("df_wine_complete")